In [19]:
import pandas as pd
#import numpy as np

df  = pd.read_csv('troop_movements.csv')
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
               timestamp  unit_id           unit_type empire_or_resistance  \
0    2023-10-10 09:36:09        1  resistance_soldier               empire
1    2023-10-10 09:36:08        2               at-at               empire
2    2023-10-10 09:36:07        3         tie_fighter               empire
3    2023-10-10 09:36:06        4               at-st               empire
4    2023-10-10 09:36:05        5              x-wing           resistance
..                   ...      ...                 ...                  ...
995  2023-10-10 09:19:34      996              x-wing               empire
996  2023-10-10 09:19:33      997  resistance_soldier           resistance
997  2023-10-10 09:19:32      998              x-wing               empire
998  2023-10-10 09:19:31      999         tie_fighter           resistance
999  2023-10-10 09:19:30     1000        stormtrooper               empire

     location_x  location_y  destination_x  destination_y    homeworld
0             8           6             10              3      Serenno
1             6           1             10              1      Sullust
2             7           5              2              1   Muunilinst
3             8           8              9              4        Kalee
4             1           3              5              2      Troiken
..          ...         ...            ...            ...          ...
995           1           3              1              7      Iktotch
996           6           8              7              4         Ojom
997           7           8             10              7        Skako
998           8           4              6              2     Champala
999           3           9              7              8  Glee Anselm

[1000 rows x 9 columns]

In [23]:
empire_resistance_count = df['empire_or_resistance'].value_counts()

print(empire_resistance_count)

resistance    505
empire        495
Name: empire_or_resistance, dtype: int64

In [24]:
homeworld_count = df['homeworld'].value_counts()

print(homeworld_count)

Haruun Kal      33
Trandosha       33
Rodia           32
Malastare       30
Naboo           28
Troiken         28
Dathomir        28
Toydaria        27
Dagobah         27
Mon Cala        26
Corellia        26
Dorin           26
Aleen Minor     26
Socorro         25
Iridonia        25
Shili           24
Quermia         24
Vulpter         24
Umbara          24
Champala        24
Sullust         24
Zolan           24
Cerea           24
Alderaan        24
Skako           24
Kalee           23
Iktotch         23
Tund            23
Serenno         23
Tholoth         22
Chandrila       22
Ojom            22
Ryloth          21
Kashyyyk        21
Glee Anselm     21
Eriadu          20
Muunilinst      20
Tatooine        19
Mirial          18
Bestine IV      17
Concord Dawn    14
Stewjon         11
Name: homeworld, dtype: int64

In [25]:
unit_type_count = df['unit_type'].value_counts()

print(unit_type_count)

tie_silencer          137
resistance_soldier    134
unknown               133
stormtrooper          122
tie_fighter           121
at-at                 120
x-wing                117
at-st                 116
Name: unit_type, dtype: int64

In [28]:
#df['is_resistance'] = df.empire_or_resistance.map(lambda c: 'True' if c == 'resistance' else 'False')
df['is_resistance'] = df.empire_or_resistance.apply(lambda c: 'True' if c == 'resistance' else 'False')
print(df)

               timestamp  unit_id           unit_type empire_or_resistance  \
0    2023-10-10 09:36:09        1  resistance_soldier               empire
1    2023-10-10 09:36:08        2               at-at               empire
2    2023-10-10 09:36:07        3         tie_fighter               empire
3    2023-10-10 09:36:06        4               at-st               empire
4    2023-10-10 09:36:05        5              x-wing           resistance
..                   ...      ...                 ...                  ...
995  2023-10-10 09:19:34      996              x-wing               empire
996  2023-10-10 09:19:33      997  resistance_soldier           resistance
997  2023-10-10 09:19:32      998              x-wing               empire
998  2023-10-10 09:19:31      999         tie_fighter           resistance
999  2023-10-10 09:19:30     1000        stormtrooper               empire

     location_x  location_y  destination_x  destination_y    homeworld  \
0             8           6             10              3      Serenno
1             6           1             10              1      Sullust
2             7           5              2              1   Muunilinst
3             8           8              9              4        Kalee
4             1           3              5              2      Troiken
..          ...         ...            ...            ...          ...
995           1           3              1              7      Iktotch
996           6           8              7              4         Ojom
997           7           8             10              7        Skako
998           8           4              6              2     Champala
999           3           9              7              8  Glee Anselm

    is_resistance
0           False
1           False
2           False
3           False
4            True
..            ...
995         False
996          True
997         False
998          True
999         False

[1000 rows x 10 columns]