In [2]:
import pandas as pd
#import numpy as np

real_data  = pd.read_csv('troop_movements10m.csv')
print(type(real_data))

<class 'pandas.core.frame.DataFrame'>

In [3]:
print(real_data)

                   timestamp   unit_id           unit_type  location_x  \
0        2023-06-13 17:33:18         1               at-st         2.0
1        2023-06-13 17:33:17         2        tie_silencer         4.0
2        2023-06-13 17:33:16         3               at-at         0.0
3        2023-06-13 17:33:15         4        tie_silencer         6.0
4        2023-06-13 17:33:14         5         tie_fighter         0.0
...                      ...       ...                 ...         ...
9999995  2023-02-18 10:26:20   9999996  resistance_soldier         6.0
9999996  2023-02-18 10:26:19   9999997        tie_silencer         8.0
9999997  2023-02-18 10:26:18   9999998         tie_fighter         7.0
9999998  2023-02-18 10:26:17   9999999         tie_fighter         6.0
9999999  2023-02-18 10:26:16  10000000        invalid_unit         NaN

         location_y  destination_x  destination_y    homeworld
0               8.0              1              1  Glee Anselm
1               4.0              0              1    Trandosha
2               3.0              6              1     Corellia
3               1.0              6              9        Shili
4               4.0              9              6   Muunilinst
...             ...            ...            ...          ...
9999995         6.0              1              3      Troiken
9999996         6.0              2              0     Kashyyyk
9999997         7.0              6              4     Kashyyyk
9999998         6.0              8              8        Kalee
9999999         NaN              3              0        Skako

[10000000 rows x 8 columns]

In [6]:
real_data.unit_type = real_data.unit_type.replace('invalid_unit','unknown')

In [12]:
#real_data.location_x = real_data.location_x.ffill()
real_data.location_y = real_data.location_y.ffill()
real_data.location_x.fillna(method='ffill', inplace= True)

In [13]:
print(real_data)

                   timestamp   unit_id           unit_type  location_x  \
0        2023-06-13 17:33:18         1               at-st         2.0
1        2023-06-13 17:33:17         2        tie_silencer         4.0
2        2023-06-13 17:33:16         3               at-at         0.0
3        2023-06-13 17:33:15         4        tie_silencer         6.0
4        2023-06-13 17:33:14         5         tie_fighter         0.0
...                      ...       ...                 ...         ...
9999995  2023-02-18 10:26:20   9999996  resistance_soldier         6.0
9999996  2023-02-18 10:26:19   9999997        tie_silencer         8.0
9999997  2023-02-18 10:26:18   9999998         tie_fighter         7.0
9999998  2023-02-18 10:26:17   9999999         tie_fighter         6.0
9999999  2023-02-18 10:26:16  10000000             unknown         6.0

         location_y  destination_x  destination_y    homeworld
0               8.0              1              1  Glee Anselm
1               4.0              0              1    Trandosha
2               3.0              6              1     Corellia
3               1.0              6              9        Shili
4               4.0              9              6   Muunilinst
...             ...            ...            ...          ...
9999995         6.0              1              3      Troiken
9999996         6.0              2              0     Kashyyyk
9999997         7.0              6              4     Kashyyyk
9999998         6.0              8              8        Kalee
9999999         6.0              3              0        Skako

[10000000 rows x 8 columns]

In [14]:
real_data.to_parquet('troop_movements10m.parquet', engine='fastparquet')